* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #bedfe8;
}
.accardion {
    max-width: 800px;
    background: #bedfe8;
}

.accardion .street .houses {
    position: relative;
    height: 0px;
    overflow: hidden;
    overflow-y: auto;
}
.accardion .street.active .houses {
    height: auto;
}
.accardion .street .currentStreet {
    position: relative;
    padding: 10px;
    background: #2694af;
    color: #fff;
    cursor: pointer;
}
.accardion .currentHouses {
    left: 30px;
    position: relative;
    padding: 10px;
    background: #ffffff;
    color: #2694af;
    cursor: pointer;
}
.accardion .currentHouses:hover {
    background: #2694af;
    color: #fff;
}
.accardion .houses .flats {
    position: relative;
    left: 60px;
    height: 0px;
    overflow: hidden;
    overflow-y: auto;
}
.accardion .houses.active .flats {
    height: 200px;
}
.accardion .flats .currentFlats {
    position: relative;
    padding: 10px;
    background: #ffffff;
    color: #2694af;
    cursor: pointer;
}
.accardion .flats .currentFlats:hover {
    background: #2694af;
    color: #fff;
}
