* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #bedfe8;
}
.addClients {
    position: absolute;

    display: flex;
    flex-direction: column;
}
.accardion {
    max-width: 800px;
    background: #bedfe8;
}
.accardion .street .houses {
    position: relative;
    height: 0px;
    overflow: hidden;
    overflow-y: auto;
}
.accardion .street.active .houses {
    height: auto;
}
.accardion .street .currentStreet {
    position: relative;
    padding: 10px;
    background: #2694af;
    color: #fff;
    cursor: pointer;
}
.accardion .currentHouses {
    left: 30px;
    position: relative;
    padding: 10px;
    background: #ffffff;
    color: #2694af;
    cursor: pointer;
}
.accardion .currentHouses:hover {
    background: #2694af;
    color: #fff;
}
.accardion .houses .flats {
    position: relative;
    left: 60px;
    height: 0px;
    overflow: hidden;
    overflow-y: auto;
}
.accardion .houses.active .flats {
    height: 200px;
}
.accardion .flats .currentFlats {
    position: relative;
    padding: 10px;
    background: #ffffff;
    color: #2694af;
    cursor: pointer;
}
.accardion .flats .currentFlats:hover {
    background: #2694af;
    color: #fff;
}
input {
    outline: none;
}
.red_border {
    border: 2px solid red;
}
.main__container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    z-index: 20;
    background: rgba(0, 0, 0, 0.5);
}
.container__PopUp {
    width: 700px;
    height: 600px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    box-shadow: 0 0 5px grey;
    border-radius: 15px;
}
.content__PopUp {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    flex-direction: column;
    gap: 15px;
}
.createClient {
    display: flex;
    gap: 5px;
}
.header {
    position: absolute;
    top: 0;
    text-align: center;
    margin: 10px;
}
